[submodule "vendor/emacs-ob-racket"]
	path = vendor/emacs-ob-racket
	url = git@github.com:hasu/emacs-ob-racket.git

[submodule "vendor/godot-gdscript-el"]
	path = vendor/godot-gdscript-el
	url = git@github.com:francogarcia/godot-gdscript.el.git
